includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 9
    excludePaths: [app/Filament/, app/Http/Controllers/Auth/, app/Http/Controllers/ProfileController.php, app/Models/, app/Policies]

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#
#    checkMissingIterableValueType: false
